.header {
    background-color: #FFF;
}

nav {
    background-color: transparent;
}

ul {
    list-style: none;
}

ul li {
    margin-right: 55px;
    font-size: 16px;
}

ul li:last-child {
    margin-right: 18px;
}

ul li a.active {
    color: #8A53FF;
    font-weight: bold;
}

.separator {
    width: 1px;
    color: #000;
    border-bottom: 20px solid #EEE;
    margin-right: 18px;
}

.headerLinks {
    display: flex;
    align-items: center;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.headerLinks.show {
    display: flex;
    flex-direction: row;
}

.menuButton {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.6s ease;
}

.menuButton.open {
    transform: rotate(90deg);
}

.profileAndSearch {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .headerLinks {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        /* Hide by default */
        transform: scaleY(0);
        /* Hide by default */
        transform-origin: top;
        transition: opacity 0.6s ease, transform 0.6s ease;
    }

    .headerLinks.show {
        opacity: 1;
        /* Show when active */
        transform: scaleY(1);
        /* Show when active */
    }

    .menuButton {
        display: block;
    }

    .headerLinks ul {
        flex-direction: column;
        width: 100%;
    }

    .headerLinks ul li {
        margin: 10px 0;
        text-align: center;
    }

    .separator {
        display: none;
    }
}